* {
  box-sizing: border-box;
  margin: 0; /* MALA PRACTICA */
  padding: 0; /* MALA PRACTICA */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
.hero {
  width: 100%;
  padding: 2rem;
  background-color: hotpink;
}
.container__img {
  width: 6rem;
  height: 6rem;
  display: block;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  display: inline-block;
  font-size: 2rem;
  font-family: calibri;
  margin: 1rem;
}
.main__hero {
  display: flex;
  width: 100%;
  height: 74vh;
  background-color: lightgrey;
}
.main__title {
  text-align: center;
  font-size: 6rem;
  font-family: calibri;
}
.main__img__title {
  display: block;
  width: 17rem;
  height: 17rem;
  margin: auto;
  margin-top: 3rem;
}
.main__parrafo {
  text-align: center;
  font-size: 2.4rem;
  font-family: calibri;
  margin-top: 5rem;
  margin-right: 1.5rem;
}
.main__container {
  width: 40%;
  height: 79.8vh;
}
.main__container2 {
  width: 60%;
  height: 79.8vh;
  align-items: flex-start;
  justify-content: center;
}
.main__img {
  display: block;
  padding: 6rem;
  margin: auto;
  margin-top: 6rem;
  width: 25rem;
  height: 25rem;
}
.pie__pagina {
  width: 100%;
  height: 4.1rem;
  background-color: black;
}

@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .main__parrafo {
    font-size: 3rem;
  }
  .pie__pagina {
    height: 6rem;
  }
}
@media screen and (min-width: 375px) and (max-width: 425px) {
  body {
    background-color: lightgray;
  }

  .container {
    flex-direction: column;
  }
  main {
    display: flex;
    flex-wrap: wrap;
  }
  .main__container2,
  .main__container {
    width: 50%;
    height: fit-content;
  }
  .main__container3 {
    width: 100%;
  }
  .hero {
    padding: 0;
  }
  .main__hero {
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }

  .main__img {
    margin-top: -15px;
  }

  .navigation {
    width: 100%;
    text-align: center;
    color: #fff;
  }

  .nav__userLink {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .main__title {
    font-size: 2rem;
    font-family: calibri;
  }
  .main__img__title {
    width: 10rem;
    height: 10rem;
  }
  .main__parrafo {
    font-size: 1.7rem;
  }
  picture .main__img {
    width: 10rem;
    height: 10rem;
  }
  .main__container2 {
    display: flex;
    align-items: flex-start;
  }
  .pie__pagina {
    position: absolute;
    bottom: 0;
  }
}
